/* $background-color: #fbf9f4; */
$blue-faded: #465871;
$gray: #7a7a7a;
$gray-light: #aaa;
$gray-dark: #555;

$background-color: #fcfbf6;
$link-color: #496EA1;

$title-font: 'Cinzel Decorative';
$header-font: 'Crimson Text';
$body-font: 'Open Sans';
$code-font: 'VT323';

@mixin borders ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
