/* $background-color: #fbf9f4; */
$background-color: #fcfbf6;
$faded-blue: #465871;
$link-color: #496EA1;
$light-gray: #aaaaaa;

$title-font: 'Cinzel Decorative';
$header-font: 'Crimson Text';
$body-font: 'Open Sans';
$code-font: 'Source Code Pro';

@mixin borders ($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
