@import 'base';

a {
    color: $link-color;

    &:hover {
        text-decoration: none;

        color: $faded-blue;
    }
}

body {
    background-color: $background-color;
}

code, kbd, pre, samp {
    font-family: $code-font;
}

.navbar-default {
    background-color: $faded-blue;

    .navbar-nav > li {
        a:hover {
            background-color: #3D4B60;
        }
    }
}

.navbar-header {
    font-family: $title-font;
}

.page-header {
    margin-top: 0px;
    border-bottom: none;
}

.banner {
    text-align: center;

    img {
        display: block;

        margin: 0px auto;
        clear: right;
        
        @include borders (10px);
        border: 1px solid #aaa;
    }
}

.outline-widget {
    margin-right: 3px;

    cursor: pointer;

    color: #aaa;
}

.page-footer {
    margin-top: 11.5px;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.post {
    margin-bottom: 50px;
    border-top: 1px solid #aaa;

    p {
        margin: 0px;
    }

    .title {
        font-size: 150%;
        font-family: $header-font;

        color: #955;

        a {
            color: #955;

            &:hover {
                color: $faded-blue;
            }
        }
    }

    .btn-tag {
        padding: 2px 6px;
        @include borders (5px);

        background-color: #8798a7;
        border-color: #8798a7;

        font-size: 80%;

        a:hover {
            background-color: #6f7d8a;
            border-color: #6f7d8a;
        }
    }

    .body {
        padding: 0px 0px 30px 1px; 

        font-family: $body-font;
        font-size: 90%;

        color: #555;
    }

    .footer {
        font-size: 90%;

        color: $light-gray;

        .topic {
            font-weight: bold;
        }
    }
}

#page-content {
    margin-top: 63px;
    padding-top: 9.5px;
}

#topics {
    .post {
        margin-bottom: 0px;

        .title {
            display: inline-block;

            padding-right: 10px;

            border: 0px;

            font-family: $body-font;
            font-size: 100%;
            font-weight: bold;
        }

        .date {
            display: inline-block;

            color: #aaa;
        }
    }
}