/* $background-color: #fbf9f4; */
/* $background-color: #fcfbf6; */
/* line 3, ../../assets/scss/screen.scss */
a {
  color: #496ea1;
}
/* line 6, ../../assets/scss/screen.scss */
a:hover {
  text-decoration: none;
  color: #465871;
}

/* line 13, ../../assets/scss/screen.scss */
body {
  background-color: #eee;
  background-image: url("/img/bkg-white.png");
  font-family: 'Lato';
}

/* line 20, ../../assets/scss/screen.scss */
code, kbd, pre, samp {
  font-family: "VT323";
}

/* line 24, ../../assets/scss/screen.scss */
.nav {
  font-weight: 300;
}

/* line 28, ../../assets/scss/screen.scss */
.navbar-default {
  background-color: #7a7a7a;
  background-image: url("/img/background.png");
}
/* line 33, ../../assets/scss/screen.scss */
.navbar-default .navbar-nav > li a:hover {
  background-color: #667977;
  background-image: url("/img/background.png");
}

/* line 40, ../../assets/scss/screen.scss */
.navbar-header {
  font-family: "Cinzel Decorative";
}

/* line 44, ../../assets/scss/screen.scss */
.page-header {
  margin-top: 0px;
  border-bottom: none;
}

/* line 51, ../../assets/scss/screen.scss */
.banner img {
  display: block;
  margin: 0px auto;
  clear: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

/* line 62, ../../assets/scss/screen.scss */
.outline-widget {
  margin-right: 3px;
  cursor: pointer;
  color: #aaa;
}

/* line 70, ../../assets/scss/screen.scss */
.page-footer {
  padding: 15px;
  border-top: 1px solid #dbdbdb;
  font-size: 12pt;
  font-weight: 400;
}

/* line 78, ../../assets/scss/screen.scss */
.post-topic {
  font-size: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #aaa;
}

/* line 87, ../../assets/scss/screen.scss */
.follow-up {
  margin-bottom: 50px;
  border-top: 1px solid #aaa;
  font-size: 16pt;
}
/* line 93, ../../assets/scss/screen.scss */
.follow-up .body {
  padding: 10px 0px 5px 1px;
  font-family: "Puritan";
  font-size: 12pt;
  text-align: left;
  color: #555;
}
/* line 103, ../../assets/scss/screen.scss */
.follow-up .body p {
  padding-top: 10px;
}
/* line 108, ../../assets/scss/screen.scss */
.follow-up .footer {
  padding-top: 10px;
  font-size: 10pt;
  color: #aaa;
}

/* line 117, ../../assets/scss/screen.scss */
.form-control {
  background-color: #fcfcfc;
}

/* line 121, ../../assets/scss/screen.scss */
.arrow {
  width: 100%;
  font-size: 400%;
  text-align: center;
  color: #dbdbdb;
}

/* line 131, ../../assets/scss/screen.scss */
.panel {
  background-color: #f7f5ef;
}

/* line 135, ../../assets/scss/screen.scss */
.post {
  border-top: 1px solid #aaa;
  margin-bottom: 50px;
}
/* line 139, ../../assets/scss/screen.scss */
.post .title {
  font-size: 250%;
  font-family: "Crimson Text";
  color: #955;
}
/* line 145, ../../assets/scss/screen.scss */
.post .title a {
  color: #955;
}
/* line 148, ../../assets/scss/screen.scss */
.post .title a:hover {
  color: #465871;
}
/* line 154, ../../assets/scss/screen.scss */
.post .subtitle {
  margin-top: -5px;
  font-size: 120%;
  font-weight: 300;
  text-transform: uppercase;
  color: #aaa;
}
/* line 164, ../../assets/scss/screen.scss */
.post .btn-tag {
  padding: 2px 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #8798a7;
  border-color: #8798a7;
  font-size: 80%;
}
/* line 173, ../../assets/scss/screen.scss */
.post .btn-tag a:hover {
  background-color: #6f7d8a;
  border-color: #6f7d8a;
}
/* line 179, ../../assets/scss/screen.scss */
.post .body {
  padding: 10px 0px 5px 1px;
  font-family: "Puritan";
  font-size: 12pt;
  color: #555;
}
/* line 187, ../../assets/scss/screen.scss */
.post .body p {
  padding-top: 10px;
}
/* line 192, ../../assets/scss/screen.scss */
.post .footer {
  padding-top: 10px;
  font-size: 90%;
  color: #aaa;
}
/* line 200, ../../assets/scss/screen.scss */
.post .footer .continue {
  font-size: 90%;
}
/* line 204, ../../assets/scss/screen.scss */
.post .footer .topic {
  font-weight: bold;
}

/* line 211, ../../assets/scss/screen.scss */
#post .follow-up {
  padding: 10px;
  border-top: 0px;
  /* background-color: #f5f5f5; */
}
/* line 218, ../../assets/scss/screen.scss */
#post .follow-up .body {
  padding: 0px 0px 0px 1px;
}
/* line 222, ../../assets/scss/screen.scss */
#post .follow-up .footer {
  padding: 0px;
}

/* line 228, ../../assets/scss/screen.scss */
#page-content {
  margin: 63px 0px 19px 0px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}

/* line 235, ../../assets/scss/screen.scss */
#static h3 {
  margin-bottom: 2px;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 140%;
  color: #555;
}
/* line 245, ../../assets/scss/screen.scss */
#static img {
  margin: 4px 10px 0px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}
/* line 252, ../../assets/scss/screen.scss */
#static .body {
  margin-top: -5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-family: "Puritan";
  font-size: 12pt;
  color: #555;
}
/* line 264, ../../assets/scss/screen.scss */
#static .title {
  font-family: "Crimson Text";
  font-size: 250%;
  font-variant: small-caps;
  text-align: center;
  color: #aa5555;
}

/* line 276, ../../assets/scss/screen.scss */
#topics .topic {
  font-family: "Cinzel";
  font-size: 140%;
  text-decoration: underline;
}
/* line 283, ../../assets/scss/screen.scss */
#topics .post {
  margin-top: -2.5px;
  margin-bottom: 0px;
  border-top: 0px;
}
/* line 289, ../../assets/scss/screen.scss */
#topics .post .title {
  display: inline-block;
  padding-right: 10px;
  font-family: "Crimson Text";
  font-size: 125%;
}
/* line 298, ../../assets/scss/screen.scss */
#topics .post .follow-up-title {
  display: inline-block;
  padding: 2px 10px 0px 0px;
  color: #777;
}
/* line 306, ../../assets/scss/screen.scss */
#topics .post .date {
  display: inline-block;
  color: #aaa;
}

/* line 314, ../../assets/scss/screen.scss */
#updates {
  font-size: 90%;
}
/* line 317, ../../assets/scss/screen.scss */
#updates .entries {
  border-bottom: 1px solid #aaa;
}
/* line 320, ../../assets/scss/screen.scss */
#updates .entries .entry {
  border-top: 1px solid #aaa;
  padding: 5px 0px 5px 0px;
}
/* line 324, ../../assets/scss/screen.scss */
#updates .entries .entry a:hover {
  color: #000;
}
/* line 328, ../../assets/scss/screen.scss */
#updates .entries .entry .date {
  padding: 2px 5px 0px 5px;
  font-size: 90%;
  color: #7a7a7a;
}
/* line 336, ../../assets/scss/screen.scss */
#updates .entries .entry .status {
  margin-left: -10px;
  padding: 2px 5px 0px 5px;
  text-overflow: ellipsis;
  font-size: 90%;
}
/* line 345, ../../assets/scss/screen.scss */
#updates .entries .entry .topic {
  padding: 2px 0px 0px 5px;
  text-align: right;
  font-size: 90%;
  color: #aaa;
}
