/* $background-color: #fbf9f4; */
/* $background-color: #fcfbf6; */
@font-face {
  font-family: 'whatever';
  src: url("/fonts/whatever.eot?-g8qxr1");
  src: url("/fonts/whatever.eot?#iefix-g8qxr1") format("embedded-opentype"), url("/fonts/whatever.ttf?-g8qxr1") format("truetype"), url("/fonts/whatever.woff?-g8qxr1") format("woff"), url("/fonts/whatever.svg?-g8qxr1#whatever") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../../assets/scss/screen.scss */
[class^="whatever-"],
[class*=" whatever-"] {
  font-family: 'whatever';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../../assets/scss/screen.scss */
.whatever-forward:before {
  content: "\e969";
}

/* line 32, ../../assets/scss/screen.scss */
.whatever-link:before {
  content: "\e9cb";
}

/* line 35, ../../assets/scss/screen.scss */
.whatever-twitter:before {
  content: "\ea91";
}

/* line 39, ../../assets/scss/screen.scss */
a {
  color: #6495ed;
}
/* line 42, ../../assets/scss/screen.scss */
a:hover {
  text-decoration: none;
  color: #000;
}

/* line 49, ../../assets/scss/screen.scss */
body {
  background-color: #fff;
  font-family: 'Lato';
}

/* line 55, ../../assets/scss/screen.scss */
code, kbd, pre, samp {
  font-family: "Fira Code";
}

/* line 59, ../../assets/scss/screen.scss */
img {
  margin: 4px 10px 0px 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

/* line 66, ../../assets/scss/screen.scss */
.btn-delete {
  background-color: #bfa1A1;
  color: #555;
}
/* line 71, ../../assets/scss/screen.scss */
.btn-delete:hover {
  background-color: #795454;
  color: #000;
}

/* line 78, ../../assets/scss/screen.scss */
.img-left {
  margin-right: 10px;
  margin-top: 4px;
  float: left;
}

/* line 85, ../../assets/scss/screen.scss */
.img-right {
  margin-left: 10px;
  margin-top: 4px;
  float: right;
}

/* line 92, ../../assets/scss/screen.scss */
.nav {
  font-weight: 700;
}

/* line 96, ../../assets/scss/screen.scss */
.navbar {
  text-transform: uppercase;
}

/* line 100, ../../assets/scss/screen.scss */
.navbar-nav {
  float: right;
}

/* line 104, ../../assets/scss/screen.scss */
.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
/* line 112, ../../assets/scss/screen.scss */
.navbar-default .navbar-brand {
  color: #000;
  font-weight: 900;
  line-height: 26px;
}
/* line 119, ../../assets/scss/screen.scss */
.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: #667977;
  background-image: url("/img/background-tan.png");
}
/* line 128, ../../assets/scss/screen.scss */
.navbar-default .navbar-nav > li a {
  padding-bottom: 14px;
  color: #955;
}
/* line 133, ../../assets/scss/screen.scss */
.navbar-default .navbar-nav > li a:hover {
  background-color: #667977;
  background-image: url("/img/background-tan.png");
}
/* line 140, ../../assets/scss/screen.scss */
.navbar-default .navbar-toggle {
  padding-top: 11px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 13px;
  margin: inherit;
  margin-right: 0px;
  font-size: 14pt;
}
/* line 149, ../../assets/scss/screen.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #667977;
  background-image: url("/img/background-tan.png");
  color: #fff;
}

/* line 157, ../../assets/scss/screen.scss */
.navbar-header {
  font-family: "Cinzel Decorative";
}

/* line 161, ../../assets/scss/screen.scss */
.page-header {
  margin-top: 0px;
  border-bottom: none;
}

/* line 167, ../../assets/scss/screen.scss */
.banner img {
  display: block;
  margin: 0px auto;
  clear: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
}

/* line 178, ../../assets/scss/screen.scss */
.outline-widget {
  margin-right: 3px;
  cursor: pointer;
  color: #aaa;
}

/* line 186, ../../assets/scss/screen.scss */
.page-footer {
  padding: 15px;
  border-top: 1px solid #dbdbdb;
  font-size: 12pt;
  font-weight: 400;
}

/* line 194, ../../assets/scss/screen.scss */
.post-topic {
  font-size: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #aaa;
}
/* line 202, ../../assets/scss/screen.scss */
.post-topic a {
  color: #aaa;
}
/* line 205, ../../assets/scss/screen.scss */
.post-topic a:hover {
  color: #465871;
}

/* line 211, ../../assets/scss/screen.scss */
.follow-up {
  border-top: 1px solid #dbdbdb;
  margin-bottom: 50px;
}
/* line 215, ../../assets/scss/screen.scss */
.follow-up .body {
  padding: 10px 0px 5px 1px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: #333;
}
/* line 226, ../../assets/scss/screen.scss */
.follow-up .body p {
  padding-top: 10px;
}
/* line 231, ../../assets/scss/screen.scss */
.follow-up .footer {
  padding-top: 10px;
  font-family: "Lato";
  font-size: 1em;
  color: #aaa;
}
/* line 239, ../../assets/scss/screen.scss */
.follow-up .footer .whatever-twitter {
  opacity: 0.5;
}

/* line 245, ../../assets/scss/screen.scss */
.form-control {
  background-color: #fcfcfc;
}

/* line 249, ../../assets/scss/screen.scss */
.arrow {
  width: 100%;
  font-size: 400%;
  text-align: center;
  color: #667977;
}

/* line 260, ../../assets/scss/screen.scss */
.panel {
  background-color: #f7f5ef;
}

/* line 264, ../../assets/scss/screen.scss */
.post {
  border-top: 1px solid #dbdbdb;
  margin-bottom: 50px;
}
/* line 268, ../../assets/scss/screen.scss */
.post .title {
  font-family: 'Lato';
  font-size: 250%;
  font-weight: 300;
  color: #6495ed;
}
/* line 276, ../../assets/scss/screen.scss */
.post .title a:hover {
  color: #955;
}
/* line 282, ../../assets/scss/screen.scss */
.post .subtitle {
  margin-top: -5px;
  font-family: "Crimson Text";
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  color: #555;
}
/* line 293, ../../assets/scss/screen.scss */
.post .btn-tag {
  padding: 2px 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #8798a7;
  border-color: #8798a7;
  font-size: 80%;
}
/* line 302, ../../assets/scss/screen.scss */
.post .btn-tag a:hover {
  background-color: #6f7d8a;
  border-color: #6f7d8a;
}
/* line 308, ../../assets/scss/screen.scss */
.post .body {
  padding: 10px 0px 5px 1px;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  color: #333;
}
/* line 319, ../../assets/scss/screen.scss */
.post .body p {
  padding-top: 10px;
}
/* line 324, ../../assets/scss/screen.scss */
.post .footer {
  padding-top: 10px;
  font-family: "Lato";
  color: #aaa;
  clear: both;
}
/* line 331, ../../assets/scss/screen.scss */
.post .footer .continue {
  font-size: 90%;
}
/* line 335, ../../assets/scss/screen.scss */
.post .footer .topic {
  font-weight: bold;
}

/* line 344, ../../assets/scss/screen.scss */
.twitter a {
  opacity: 0.5;
}
/* line 347, ../../assets/scss/screen.scss */
.twitter a:hover {
  opacity: 1.0;
}

/* line 354, ../../assets/scss/screen.scss */
#admin .topic {
  padding-bottom: 15px;
}
/* line 357, ../../assets/scss/screen.scss */
#admin .topic .title {
  border-bottom: 1px solid #aaa;
}
/* line 362, ../../assets/scss/screen.scss */
#admin .post {
  display: block;
  margin-bottom: 0px;
  padding-left: 0px;
  border: none;
}
/* line 370, ../../assets/scss/screen.scss */
#admin .post .date {
  display: inline-block;
  color: #aaa;
}
/* line 376, ../../assets/scss/screen.scss */
#admin .post .follow-up-title {
  display: inline-block;
  margin-left: 0px;
  border: none;
  padding-right: 10px;
}
/* line 385, ../../assets/scss/screen.scss */
#admin .post .follow-up-title p {
  display: inline;
}
/* line 390, ../../assets/scss/screen.scss */
#admin .post .title {
  display: inline-block;
  padding-right: 10px;
  border: none;
  font-family: inherit;
  font-size: 100%;
}

/* line 405, ../../assets/scss/screen.scss */
#post .follow-up {
  padding: 10px;
  border-top: 0px;
  /* background-color: #f5f5f5; */
}
/* line 412, ../../assets/scss/screen.scss */
#post .follow-up .body {
  padding: 0px 0px 0px 1px;
}
/* line 416, ../../assets/scss/screen.scss */
#post .follow-up .footer {
  padding: 0px;
}

/* line 422, ../../assets/scss/screen.scss */
#page-content {
  margin: 63px 0px 19px 0px;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}

/* line 429, ../../assets/scss/screen.scss */
#tags .posts {
  padding: 5px 0px 5px 0px;
  border-top: 1px solid #ccc;
}
/* line 434, ../../assets/scss/screen.scss */
#tags .post {
  display: flex;
  margin-bottom: 0px;
  padding-top: 5px;
  border-top: none;
}
/* line 441, ../../assets/scss/screen.scss */
#tags .post a:hover {
  color: #000;
}
/* line 445, ../../assets/scss/screen.scss */
#tags .post .date {
  padding: 2px 5px 0px 5px;
  font-size: 90%;
  text-align: right;
  color: #7a7a7a;
}
/* line 455, ../../assets/scss/screen.scss */
#tags .post .title {
  font-family: 'Lato';
  font-size: 100%;
  font-variant: normal;
  color: #000;
  text-align: left;
}
/* line 462, ../../assets/scss/screen.scss */
#tags .post .title a {
  color: #559981;
}
/* line 466, ../../assets/scss/screen.scss */
#tags .post .title a:hover {
  color: #000;
}
/* line 471, ../../assets/scss/screen.scss */
#tags .post .title p {
  margin: 0px;
}
/* line 478, ../../assets/scss/screen.scss */
#tags .post .topic {
  padding: 2px 0px 0px 5px;
  font-size: 90%;
  color: #aaa;
}
/* line 487, ../../assets/scss/screen.scss */
#tags .tags {
  padding: 10px 0 10px 0;
  border-top: 1px dotted #aaa;
  text-align: center;
}
/* line 494, ../../assets/scss/screen.scss */
#tags .tags a {
  color: #7a7a7a;
}
/* line 497, ../../assets/scss/screen.scss */
#tags .tags a:hover {
  color: #000;
}
/* line 502, ../../assets/scss/screen.scss */
#tags .tags .active {
  color: #6495ed;
}
/* line 505, ../../assets/scss/screen.scss */
#tags .tags .active:hover {
  text-decoration: none;
  color: #465871;
  cursor: pointer;
}
/* line 514, ../../assets/scss/screen.scss */
#tags .tags .inactive {
  color: #7a7a7a;
}
/* line 519, ../../assets/scss/screen.scss */
#tags .title {
  font-family: 'Cinzel';
  font-size: 21px;
  text-align: center;
}

/* line 528, ../../assets/scss/screen.scss */
#static h3 {
  margin-bottom: 2px;
  font-family: 'Lato';
  font-size: 140%;
  color: #555;
}
/* line 537, ../../assets/scss/screen.scss */
#static .body {
  margin-top: -5px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-weight: 300;
  font-size: 16px;
  color: #555;
}
/* line 549, ../../assets/scss/screen.scss */
#static .title {
  font-family: "Crimson Text";
  font-size: 250%;
  font-variant: small-caps;
  text-align: center;
  color: #aa5555;
}

/* line 561, ../../assets/scss/screen.scss */
#topic .title {
  border-bottom: 1px solid #aaa;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #aaa;
}
/* line 572, ../../assets/scss/screen.scss */
#topic .body {
  padding: 0px 0px 5px 1px;
  font-family: "Lato";
  font-size: 1.1em;
  line-height: 1.5em;
  color: #555;
}
/* line 582, ../../assets/scss/screen.scss */
#topic .body p {
  padding-top: 10px;
}
/* line 587, ../../assets/scss/screen.scss */
#topic .footer {
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  color: #aaa;
}
/* line 597, ../../assets/scss/screen.scss */
#topic .post {
  margin-bottom: 0px;
  padding: 5px 0px 5px 0px;
  border-top: none;
}
/* line 603, ../../assets/scss/screen.scss */
#topic .post .date {
  padding: 2px 5px 0px 5px;
  font-size: 90%;
  text-align: right;
  color: #7a7a7a;
}
/* line 613, ../../assets/scss/screen.scss */
#topic .post .title {
  padding-left: 5px;
  border-bottom: 0px;
  font-family: 'Lato';
  font-size: 100%;
  text-transform: none;
  text-align: left;
}
/* line 622, ../../assets/scss/screen.scss */
#topic .post .title a {
  color: #955;
}
/* line 625, ../../assets/scss/screen.scss */
#topic .post .title a:hover {
  color: black;
}

/* line 636, ../../assets/scss/screen.scss */
#topics .topic {
  margin-bottom: 15px;
  font-family: "Cinzel";
  font-size: 140%;
}
/* line 642, ../../assets/scss/screen.scss */
#topics .topic .permalink {
  padding-left: 7px;
  font-size: 75%;
  text-decoration: none;
}
/* line 649, ../../assets/scss/screen.scss */
#topics .topic .permalink a {
  color: #aaa;
}
/* line 652, ../../assets/scss/screen.scss */
#topics .topic .permalink a:hover {
  color: #465871;
}
/* line 658, ../../assets/scss/screen.scss */
#topics .topic .posts {
  border-top: 1px dotted #aaa;
  margin-top: -3px;
  padding-top: 5px;
}
/* line 665, ../../assets/scss/screen.scss */
#topics .topic .post {
  margin-top: -2.5px;
  margin-bottom: 0px;
  border-top: 0px;
}
/* line 671, ../../assets/scss/screen.scss */
#topics .topic .post .title {
  display: inline-block;
  padding-right: 10px;
  font-size: 100%;
}
/* line 678, ../../assets/scss/screen.scss */
#topics .topic .post .title a {
  padding-left: 1px;
}
/* line 683, ../../assets/scss/screen.scss */
#topics .topic .post .follow-up-title {
  display: inline-block;
  padding: 0px 10px 0px 25px;
  font-family: 'Lato';
  font-size: 15px;
  color: #777;
}
/* line 693, ../../assets/scss/screen.scss */
#topics .topic .post .follow-up-title p {
  display: inline;
}
/* line 698, ../../assets/scss/screen.scss */
#topics .topic .post .date {
  display: inline-block;
  font-family: 'Lato';
  font-size: 12px;
  color: #aaa;
}

/* line 710, ../../assets/scss/screen.scss */
#updates {
  font-size: 90%;
}
/* line 713, ../../assets/scss/screen.scss */
#updates .parent {
  color: #aaa;
}
/* line 717, ../../assets/scss/screen.scss */
#updates .entries {
  border-bottom: 1px solid #aaa;
}
/* line 720, ../../assets/scss/screen.scss */
#updates .entries .entry {
  border-top: 1px solid #aaa;
  padding: 5px 0px 5px 0px;
}
/* line 724, ../../assets/scss/screen.scss */
#updates .entries .entry .date {
  padding: 2px 5px 0px 5px;
  font-size: 90%;
  color: #7a7a7a;
}
/* line 732, ../../assets/scss/screen.scss */
#updates .entries .entry .status {
  margin-left: -10px;
  padding: 2px 5px 0px 5px;
  text-overflow: ellipsis;
  font-size: 90%;
}
/* line 742, ../../assets/scss/screen.scss */
#updates .entries .entry .title p {
  margin: 0px;
}
/* line 747, ../../assets/scss/screen.scss */
#updates .entries .entry .topic {
  padding: 2px 0px 0px 5px;
  text-align: right;
  font-size: 90%;
  color: #aaa;
}
