<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="post">
            <div class="well content">
                {% if post.title %}
                <div class="title">{{ post.title|safe }}</div>
                {% endif %}
                {% if post.tags %}
                <div class="tags text-right">
                    {% for tag in post.tags %}
                    <a href="#" class="btn btn-info btn-tag">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="body">{{ post.body|safe }}</div>
                <div class="footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="small text-left stuff"></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="small text-right date">Filed under <span class="topic">Better Call Saul</span>
                            <br/>
                            {{ post.last-updated|date:longDate }} @ {{ post.last-updated|date:shortTime }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
