{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-content">
        {% for topic in page %}
        <div style="text-decoration: underline">{{ topic.title|safe }}</div>

        {% for ref in topic.references %}
        <div class="topic">
            <div class="title">
                <span class="glyphicon glyphicon-triangle-right small" aria-hidden="true"></span> {{ ref.title|safe }}</div>
            <div class="small date">{{ ref.last-updated|date:longDate }}</div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
